<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Menú Principal</li>
</ol><!-- end breadcrumb -->

<h1 class="page-header">Panel de Administrador</h1>

<div class="row">
    <div class="col-lg-2">
        <div class="card text-center animated bounceInUp">
            <div class="card-block">
                <h4 class="card-title">Opción</h4>
                <p class="card-text">Para agregar nuevos usuarios al sistema.</p>
                <p>
                    <a href="javascript:formUsuarios();" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>&nbsp;
                        Agregar Usuario.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Data Table - Default</h4>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <table id="data-table-default" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th width="1%"></th>
                        <th class="text-nowrap">Nombre</th>
                        <th class="text-nowrap">Telefono</th>
                        <th class="text-nowrap">Correo</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for Usuario in Usuarios %}
                    <tr class="odd gradeX">
                        <td width="1%" class="f-s-600">{{loop.index}}</td>
                        <td>{{Usuario.Nombres}} {{Usuario.Paterno}} {{Usuario.Materno}}</td>
                        <td>{{Usuario.Telefono}}</td>
                        <td>{{Usuario.Correo}}</td>
                        <td>
                            <a href='javascript: fnEditar("{{Usuario.IdUsuario|Cifrado}}")'
                               class="btn btn-default btn-icon btn-circle btn-sm">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href='javascript: fnEliminar("{{Usuario.IdUsuario|Cifrado}}");'
                               class="btn btn-default btn-icon btn-circle btn-sm">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end panel-body -->
        </div>
    </div><!-- end col-lg-12 -->
</div><!-- end row -->

<script>

    function fnEditar( IdUsuario) {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Usuarios/formEditar",
            dataType: 'html',
            type: 'post',
            data: {IdUsuario: IdUsuario},
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }

    function fnEliminar(IdUsuario) {
        swal({
            title: "¿Estás Seguro?",
            text: "Una vez eliminado, no podrás recuperar al usuario",
            icon: "warning",
            buttons: ["Cancelar", "Eliminar"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    fnEliminarUsuario(IdUsuario);
                    swal("¡El usuario fue eliminado!", {
                        icon: "success",
                    });
                }
            });
    }

    function fnEliminarUsuario(Id) {
        $.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Usuarios/EliminarUsuario',
            dataType: 'html',
            type: 'post',
            data: {IdUsuario: Id},
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                ListadoUsuarios();
            }
        });
    }

</script>