<script src="{{NeuralRutaWebPublico}}/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/dropzone/min/dropzone.min.js"></script>

<script>
    function formAgregar() {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Documentos/formAgregar",
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }

    function fnListado() {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Documentos/Listado",
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }


    function formUsuarios() {
        $.ajax({
           url: "{{NeuralRutaApp}}/Administrador/Usuarios/formUsuario",
           dataType: 'html',
           type: 'post',
           beforeSend: function () {
               fnSpinnerTo("#content");
           },
            success: function (data) {
                $('#content').html(data);
            }
        });
    }


</script>