<div id="pdf"></div>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="note note-primary col-lg-6">
        <div class="note-icon"><i class="far fa-file-pdf"></i></div>
        <div class="note-content text-center">
            <h4><b>¿Deseas Vizualizar el Documento?</b></h4>
            <p id="ocultar"><button class="btn btn-grey" onclick='fnVer("{{Nombre}}");'>Vizualizar</button></p>
            <p><a href="#" onclick="fnListado();" class="btn btn-danger jsMedia">Regresar</a></p>
        </div>
    </div>
    <div class="col-lg-3">

    </div>
</div>

<script>
    function fnVer(Url) {
        event.preventDefault();
        let options = {
            height: "750px",
            weight: "600px",
            page: '1'
        };

        PDFObject.embed(Url, "#pdf", options);
        $("#ocultar").hide();
    }
</script>