<div class="row">
    <div class="col-lg-3"></div>
    <div class="note note-primary col-lg-6">
        <div class="note-icon"><i class="far fa-file-pdf"></i></div>
        <div class="note-content text-center">
            <h4><b>Documento de Excel</b></h4>
            <h5>No puedes visualizar el documento</h5>
            <h5>¿Deseas descargarlo?</h5>
            <p><a class="btn btn-grey" href='{{Nombre}}'>Descargar</a></p>
            <p><a href="#" onclick="fnListado();" class="btn btn-danger jsMedia">Regresar</a></p>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>