
<div class="right-content">
    <!-- begin login-header -->
    <div class="login-header">
        <div class="brand">
            <span class="logo"></span> <b>Gestor de</b> Archivos
            <small>Carga tus archivos y compartelos con los demas</small>
        </div>
        <div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <div class="login-content">
        <form action="{{NeuralRutaApp}}/Index/Autenticacion" method="post" id="formLogin" name="formLogin" class="margin-bottom-0">
            <div class="form-group m-b-15">
                <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Ingrese el Usuario" required />
            </div>
            <div class="form-group m-b-15">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Contraseña" required />
            </div>
            <div class="checkbox checkbox-css m-b-30">
                <input type="checkbox" id="remember_me_checkbox" value="" />
                <label for="remember_me_checkbox">
                    Recuerdame
                </label>
            </div>
            <div class="login-buttons">
                <input type="hidden" id="Key" name="Key" value="{{Key}}">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Ingresar</button>
            </div>
            <div class="m-t-20 m-b-40 p-b-40">
                ¿No te encuentras registrado? Click <a href="register_v3.html">aqui</a> para registrarte.
            </div>
            <hr />
            <p class="text-center">
                &copy; VoIp Technology.
            </p>
        </form>
    </div>
    <!-- end login-content -->
</div>

{% block Scripts %}
{% endblock %}
