<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>:. Panel de Autenticacion .:</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/style.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/style-responsive.min.css" rel="stylesheet" />
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== CSS STYLE ================== -->

    {% block Styles %}
    {% endblock %}

    <!-- ================== JS ================== -->
    <script src="{{NeuralRutaWebPublico}}/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== JS ================== -->
</head>
<body class="pace-top bg-black-darker">

{% include 'General/Partes/Loader.html' %}

<div id="page-container" class="fade">

    <div class="login login-with-news-feed">

        {% include 'General/Partes/News-feed.html' %}


        {% block Contenido %}
            {% include 'General/Login/Login.html' %}
        {% endblock %}

    </div><!-- .login -->


</div><!-- #page-container -->


<!-- ================== BEGIN BASE JS ================== -->
<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!--[if lt IE 9]>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/html5shiv.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/respond.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="{{NeuralRutaWebPublico}}/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/theme/transparent.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/apps.min.js"></script>
<!-- ================== END BASE JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
    });

    $(document).ready(function () {
        jQuery("form").keypress(function (e) {
            if (e.which == 13  ) {
                return false;
            }
        });
    });
</script>

{% block Scripts %}

{% endblock %}

</body>
</html>
