<div class="note note-primary">
    <div class="note-icon"><i class="fas fa-check"></i></div>
    <div class="note-content">
        <h4><b>El documento fue actualizado exitosamente!</b></h4>
        <p><a href="#" onclick="javascript: fnListado();" class="btn btn-inverse">Listar Documentos</a></p>
    </div>
</div>