<div class="note note-warning note-with-right-icon m-b-15">
    <div class="note-icon"><i class="fas fa-exclamation-circle"></i></div>
    <div class="note-content text-right">
        <h4><b>¡Error al actualizar el documento!</b></h4>
        <h4>No existe ningun documento con ese titulo</h4>
        <p><a href="#" onclick="javascript: fnListado();" class="btn btn-inverse">Listar Documentos</a></p>
    </div>
</div>