{% extends 'Main/Base.html' %}

{% block Contenido %}

    {% include 'Principal/Principal.html' %}

{% endblock %}

{% block Scripts %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{NeuralRutaWebPublico}}/assets/plugins/gritter/js/jquery.gritter.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/sparkline/jquery.sparkline.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/demo/dashboard.min.js"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

{% include 'Documentos/Partes/JsPrincipal.html' %}
{% include 'Principal/Partes/JsPrincipal.html' %}

<script>
    $(document).ready(function() {
        COLOR_BLACK_TRANSPARENT_2 = 'rgba(255,255,255,0.15)';
        COLOR_WHITE = '#333';
        App.init();
        Dashboard.init();
    });
</script>
{% endblock %}