<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Menú Principal</li>
</ol><!-- end breadcrumb -->

<h1 class="page-header">Panel de Administrador</h1>

<div id="AreaTipoFormulario" class="row">

    <div class="col-lg-8 col-xl-8 col-md-8">
        <div class="panel panel-inverse" data-sortable-id="form-validation-1">

            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Editar el Archivo</h4>
            </div><!-- end panel-heading -->

            <div class="panel-body">
                <div class="note note-yellow m-b-15">
                    <div class="note-icon f-s-20 col-lg-2">
                        <i class="fas fa-exclamation fa-2x"></i>
                    </div>
                    <div class="note-content col-md-12">
                        <h4 class="m-t-5 m-b-5 p-b-2">Consideraciones</h4>
                        <ul class="m-b-5 p-l-25">
                            <li>El tamaño de cada archivo no debe exceder <strong>25 MB</strong></li>
                            <li>Formatos de archivo permitidos (<strong>.docx, .xls, .PDF</strong>)</li>
                        </ul>
                    </div>
                </div>
                <form id="frmEditar" method="post">
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Titulo del Documento</label>
                        <div class="col-md-9">
                            <input type="text" name="Titulo" class="form-control m-b-5" value="{{Informacion.Titulo}}" required/>
                            <small class="f-s-12">Titulo del documento.</small>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Categoria</label>
                        <div class="col-md-9">
                            <select class="form-control dinamico" name="IdCategoria" required="required">
                                {% for Categoria in Categorias %}
                                {%if Categoria.Descripcion == Informacion.NombreCategoria%}
                                <option value="{{Categoria.IdCategoria}}" selected="true">{{Categoria.Descripcion}}</option>
                                {%else%}
                                <option value="{{Categoria.IdCategoria}}">{{Categoria.Descripcion}}</option>
                                {%endif%}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Descripcion</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="Descripcion" rows="3">{{Informacion.Descripcion}}</textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <input type="hidden" name="Token" value="{{Token}}">
                        <input type="hidden" name="IdInformacionDocuento" value="{{Informacion.IdInformacionDocumento|Cifrado}}">
                        <button type="submit" class="btn btn-primary btn-lg">Editar</button>
                        <a href="javascript:fnListado();" class="btn btn-danger btn-lg">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
        COLOR_BLACK_TRANSPARENT_2 = 'rgba(255,255,255,0.15)';
        COLOR_WHITE = '#333';
        App.init();
    });
</script>
{{Scripts|raw}}
<script>
    $(document).ready(function () {
        jQuery("form").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });

    $(".dinamico").select2({
        tags: true
    });


    jQuery("#frmEditar").on("submit", function (e) {
        e.preventDefault();
        let isValidate = jQuery("#frmEditar").valid();
        ((isValidate) ? fnActualizarDocumento() : fnNotificar());
        return false;
    });

    function fnNotificar() {
        $.gritter.add({
            title: 'Hace falta llenar algun campo!',
            text: 'Recuerda cargar un archivo primero'
        });
    }

    function fnActualizarDocumento() {
        $.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Documentos/ActualizarDocumento',
            data: $("#frmEditar").serialize(),
            type: "POST",
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }


</script>

