<div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12">
        <div class="panel panel-inverse" data-sortable-id="form-validation-1">

            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Registro de Usuarios</h4>
            </div><!-- end panel-heading -->
            <div class="panel-body">
                <form id="formUsuario">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-items">
                                <a href="#InformacionBasica" data-toggle="tab" class="nav-link active">
                                    <span class="d-sm-none">Informacion Basica</span>
                                    <span class="d-sm-block d-none">Informacion Basica</span>
                                </a>
                            </li>
                            <li class="nav-items">
                                <a href="#Configuracion" data-toggle="tab" class="nav-link">
                                    <span class="d-sm-none">Configuracion</span>
                                    <span class="d-sm-block d-none">Configuracion</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Contraseña" data-toggle="tab" class="nav-link">
                                    <span class="d-sm-none">Contraseña</span>
                                    <span class="d-sm-block d-none">Contraseña</span>
                                </a>
                            </li>
                        </ul><!-- end nav-tabs -->
                        <div class="tab-content">
                            <!-- begin tab-pane -->
                            <div class="tab-pane fade active show" id="InformacionBasica">
                                <legend class="m-b-15">Datos Generales</legend>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="Usuario">Usuario</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control col-lg-12" id="Usuario" name="Usuario"
                                               placeholder="Nombre del Usuario"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="Nombre">Nombre</label>
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-4">
                                                <input type="text" class="form-control" id="Nombre" name="Nombres"
                                                       placeholder="Nombre"/>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" id="ApellidoPaterno"
                                                       name="ApellidoPaterno"
                                                       placeholder="Apellido Paterno"/>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                    <input type="text" class="form-control" id="ApellidoMaterno"
                                                           name="ApellidoMaterno"
                                                           placeholder="Apellido Materno"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <legend class="m-b-15">Datos de Contacto</legend>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="Correo">Correo</label>
                                    <div class="col-md-7">
                                        <input type="email" class="form-control col-lg-12" id="Correo" name="Correo"
                                               placeholder="Correo Electronico"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="Telefono">Telefono Celular</label>
                                    <div class="col-md-7">
                                        <input type="number" id="Telefono" name="Telefono" placeholder="123-456-7890"
                                               class="form-control col-lg-4"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab-pane -->
                            <!-- begin tab-pane -->
                            <div class="tab-pane fade" id="Configuracion">
                                <legend class="m-b-15">Configuracion</legend>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="TipoCuenta">Tipo Usuario</label>
                                    <div class="col-md-7">
                                        <select class="form-control col-lg-12" id="TipoCuenta" name="IdPerfil">
                                            {% for Perfil in Perfiles %}
                                            <option value="{{Perfil.IdPerfil}}">{{Perfil.Nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab-pane -->
                            <!-- begin tab-pane -->
                            <div class="tab-pane fade" id="Contraseña">
                                <legend class="m-b-15">Contraseña</legend>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="Password">Contraseña</label>
                                    <div class="col-md-7">
                                        <input type="password" class="form-control col-lg-4" id="Password"
                                               name="Password"
                                               placeholder="Contraseña"/>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-2 col-form-label" for="RepetirPassword">Repetir
                                        Contraseña</label>
                                    <div class="col-md-7">
                                        <input type="password" class="form-control col-lg-4" id="RepetirPassword"
                                               name="RepetirPassword"
                                               placeholder="Repetir Contraseña"/>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab-pane -->
                        </div><!-- end tab-content -->
                        <div class="text-right">
                            <input type="hidden" name="Token" value="{{Token}}">
                            <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                            <button onclick="ListadoUsuarios();" class="btn btn-danger btn-lg">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- end row -->
{{Scripts|raw}}
<script>
    $(document).ready(function () {
        jQuery("#formUsuario").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });

    jQuery("#formUsuario").on("submit", function (e) {
        e.preventDefault();
        let isValidate = jQuery("#formUsuario").valid();
        ((isValidate) ? fnRegistrar() : fnErrorValidacion());
        return false;
    });

    function fnRegistrar() {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Usuarios/Registrar",
            data: $("#formUsuario").serialize(),
            type: "post",
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }

    function fnErrorValidacion() {
        $.gritter.add({
            title: '¡Hace falta llenar algun campo!',
            text: 'Verifica que las contraseñas coincidan\n Llena todos los campos'
        });
    }

</script>