<div class="note note-warning note-with-right-icon m-b-15">
    <div class="note-icon"><i class="fas fa-exclamation-circle"></i></div>
    <div class="note-content text-right">
        <h4><b>¡Error al registrar el usuario!</b></h4>
        <p><a href="#" onclick="javascript: formUsuarios();" class="btn btn-inverse">Agregar otro usuario</a></p>
    </div>
</div>