<div id="sidebar" class="sidebar"><!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%"><!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="image">
                        <img src="{{NeuralRutaWebPublico}}/assets/img/user/user-13.jpg" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                        VoIp Technology
                        <small>Desarrollador</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> Ajustes</a></li>
                    <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Ayuda</a></li>
                </ul>
            </li>
        </ul><!-- end sidebar user -->

        {% include 'Main/Partes/Menu.html' %}

    </div><!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>