<ul class="nav">
    <li class="nav-header">Opciones</li>
    <li><a href="javascript:fnDashboard();"><i class="fa fa-calendar"></i> <span>Principal</span></a></li>
    <li><a href="javascript:fnListado();"><i class="fa fa-th-large"></i> <span>Documentos</span></a></li>
    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret"></b>
            <i class="fa fa-cogs"></i>
            <span>Configuracion</span>
        </a>
        <ul class="sub-menu">
            <li><a href="javascript:ListadoUsuarios();">Usuarios</a></li>
        </ul>
    </li>

    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>