<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Menú Principal</li>
</ol><!-- end breadcrumb -->

<h1 class="page-header">Panel de Administrador</h1>

<div id="AreaTipoFormulario" class="row">
    <div class="col-lg-8 col-xl-8 col-md-8">
        <div class="panel panel-inverse" data-sortable-id="form-validation-1">

            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Carga de Archivos</h4>
            </div><!-- end panel-heading -->

            <div class="panel-body">
                <div class="note note-yellow m-b-15">
                    <div class="note-icon f-s-20 col-lg-2">
                        <i class="fas fa-exclamation fa-2x"></i>
                    </div>
                    <div class="note-content col-md-12">
                        <h4 class="m-t-5 m-b-5 p-b-2">Consideraciones</h4>
                        <ul class="m-b-5 p-l-25">
                            <li>El tamaño de cada archivo no debe exceder <strong>25 MB</strong></li>
                            <li>Formatos de archivo permitidos (<strong>.docx, .xls, .PDF</strong>)</li>
                        </ul>
                    </div>
                </div>
                <form id="frmAgregar">
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Titulo del Documento</label>
                        <div class="col-md-9">
                            <input type="text" name="Titulo" class="form-control m-b-5" placeholder="Titulo" required/>
                            <small class="f-s-12">Titulo del documento.</small>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Categoria</label>
                        <div class="col-md-9">
                            <select class="form-control dinamico" name="IdCategoria">
                                {% for Categoria in Categorias %}
                                <option value="{{Categoria.IdCategoria}}">{{Categoria.Descripcion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-form-label col-md-3">Descripcion</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="Descripcion" rows="3"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <input type="hidden" name="Token" value="{{Token}}">
                        <input type="hidden" name="NombreArchivo" id="nombreArchivo" value="">
                        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                        <a href="javascript:fnListado();" class="btn btn-danger btn-lg">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-xl-4 col-md-4">
        <div class="panel panel-inverse" data-sortable-id="form-validation-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Carga de Archivos</h4>
            </div><!-- end panel-heading -->
            <div class="panel-body">
                <div id="formulariodropzone">
                    <form class="dropzone dz-clickable" id="dropzone" enctype="multipart/form-data">
                        <div class="dz-message needsclick">
                            Suba los archivos <b>aquí</b> o <b>da click</b> para subir.<br>
                        </div>
                    </form>
                </div>
                <div class="note note-warning note-with-right-icon m-b-15 hide" id="mensajeCargar">
                    <div class="note-icon"><i class="fas fa-check"></i></div>
                    <div class="note-content text-right">
                        <h4><b>Has cargado un archivo!</b></h4>
                        <p>
                            Exito al cargar el archivo.
                        </p>
                        <h4 id="NombreDocumento"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        COLOR_BLACK_TRANSPARENT_2 = 'rgba(255,255,255,0.15)';
        COLOR_WHITE = '#333';
        App.init();
    });
</script>
{{Scripts|raw}}
<script>
    $(document).ready(function () {
        jQuery("form").keypress(function (e) {
            if (e.which == 13  ) {
                return false;
            }
        });
    });

    $(".dinamico").select2({
        tags: true
    });


    jQuery("#frmAgregar").on("submit", function (e) {
        let isValidate = jQuery("#frmAgregar").valid();
        e.preventDefault();
        ((isValidate) ? (($("#nombreArchivo").val() !== "") ? fnGuardar() : fnNotificar()) : fnNotificar());
        return false;
    });

    function fnNotificar() {
        $.gritter.add({
            title: 'Hace falta llenar algun campo!',
            text: 'Recuerda cargar un archivo primero'
        });
    }

    function fnGuardar() {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Documentos/Guardar",
            data: $("#frmAgregar").serialize(),
            type: "POST",
            beforeSend: function () {
                fnSpinnerTo("#AreaTipoFormulario");
            },
            success: function (data) {
                $("#AreaTipoFormulario").html(data);
            }
        });
    }


</script>

<script>

    $("#dropzone").dropzone({
        url: "{{NeuralRutaApp}}/Administrador/Documentos/GuardarArchivo",
        maxFiles: 1,
        init: function () {
            this.on("success", function (file, response) {
                var nombreArchivo = response.Nombre;
                if (nombreArchivo !== "Invalido") {
                    $("#nombreArchivo").val(nombreArchivo.RutaArchivo);
                    $("#dropzone").hide();
                    $("#NombreDocumento").html(file.name);
                    $("#mensajeCargar").show();
                }
                else {
                    $("#mensajeCargar").hide();
                    swal({
                        title: "Documentos Invalidos",
                        text: "Solo puedes cargar documentos PDF y XLSX",
                        icon: "warning",
                        button: "Regresar"
                    })
                        .then((value) => {
                            $("#dropzone").show();
                            this.removeFile(file);
                        })
                }
            });
            this.on("complete", function () {
                $("#mensajeCargar").removeClass('hide');
            });
        }
    });

</script>

