<div class="note note-primary note-with-right-icon col-lg-4">
    <div class="note-icon"><i class="fas fa-check"></i></div>
    <div class="note-content col-lg-12">
        <div class="col-lg-12">
            <h4><b>¡Se edito correctamente!</b></h4>
        </div>
        <div class="col-lg-6">
            <p><a href="#" onclick="javascript: ListadoUsuarios();" class="btn btn-inverse">Regresar a listado</a></p>
        </div>
    </div>
</div>