<div class="note note-primary">
    <div class="note-icon"><i class="fas fa-check"></i></div>
    <div class="note-content">
        <h4><b>El documento fue registrado exitosamente!</b></h4>
        <p><a href="#" onclick="javascript: formAgregar();" class="btn btn-inverse">Agregar otro documento</a></p>
    </div>
</div>