<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>.: Panel de Administrador :.</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/animate/animate.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/style.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/style-responsive.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/css/transparent/theme/default.css" rel="stylesheet" id="theme"/>

    <link href="{{NeuralRutaWebPublico}}/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css"
          rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/dropzone/min/dropzone.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/css/select2/select2.min.css" rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css"
          rel="stylesheet"/>
    <link href="{{NeuralRutaWebPublico}}/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css"
          rel="stylesheet"/>

    <script src="{{NeuralRutaWebPublico}}/assets/plugins/pace/pace.min.js"></script>


    {% block Styles %}
    {% endblock %}

</head>
<body>
<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

{% include 'Main/Partes/Loader.html' %}

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

    {% include 'Main/Partes/BarraSuperior.html' %}

    {% include 'Main/Partes/BarraLateral.html' %}
    <div id="content" class="content">
        {% block Contenido %}
        {% endblock %}
    </div>

    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
            class="fa fa-angle-up"></i></a>

</div><!-- end page container -->

<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!--[if lt IE 9]>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/html5shiv.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/respond.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="{{NeuralRutaWebPublico}}/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/js-cookie/js.cookie.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/theme/transparent.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/apps.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/select2/select2.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>

<script src="{{NeuralRutaWebPublico}}/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/demo/table-manage-default.demo.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/pdfobject.min.js"></script>

<script>
    function NoBackBotton() {
        window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button";
        window.onhashchange = function () {
            window.location.hash = "no-back-button";
        };
    }
    NoBackBotton();

    function fnSpinnerTo(elemento) {
        $(elemento).html('<div class="preloader3 loader-block">\n' + '<div class="circ1"></div>\n' + '<div class="circ2"></div>\n' + '<div class="circ3"></div>\n' + '<div class="circ4"></div>\n' + '</div>');
    }

</script>

{% block Scripts %}
{% endblock %}

</body>
</html>
