<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Menú Principal</li>
</ol><!-- end breadcrumb -->

<h1 class="page-header">Panel de Administrador</h1>

<div class="row">
    <div class="col-lg-2">
        <div class="card text-center animated bounceInUp">
            <div class="card-block">
                <h4 class="card-title">Opción</h4>
                <p class="card-text">Para agregar nuevos documento al sistema.</p>
                <p>
                    <a href="javascript:formAgregar();" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>&nbsp; Agregar Doc.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="panel panel-inverse">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                            class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                            class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                       data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                       data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Data Table - Default</h4>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <table id="data-table-default" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th width="1%"></th>
                        <th class="text-nowrap">Titulo del Documento</th>
                        <th class="text-nowrap">Descripcion</th>
                        <th class="text-nowrap">Tipo</th>
                        <th class="text-nowrap">Nombre de Archivo</th>
                        <th class="text-nowrap">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for Elemento in Listado %}
                    <tr class="odd gradeX">
                        <td width="1%" class="f-s-600">{{loop.index}}</td>
                        <td>{{Elemento.Titulo}}</td>
                        <td>{{Elemento.Descripcion}}</td>
                        <td>{{Elemento.Tipo}}</td>
                        <td>{{Elemento.NombreCompleto}}</td>
                        <td>
                            <a href='javascript:formEditar("{{Elemento.IdInformacionDocumento|Cifrado}}");' class="btn btn-default btn-icon btn-circle btn-sm">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href='javascript: fnVisualizar("{{Elemento.IdInformacionDocumento|Cifrado}}");' class="btn btn-default btn-icon btn-circle btn-sm">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href='javascript: fnEliminar("{{Elemento.IdInformacionDocumento|Cifrado}}");' class="btn btn-default btn-icon btn-circle btn-sm">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- end panel-body -->
        </div>
    </div><!-- end col-lg-12 -->
</div><!-- end row -->

<script>

    function formEditar (IdDocumento) {
        $.ajax({
            url: "{{NeuralRutaApp}}/Administrador/Documentos/formEditar",
            dataType: 'html',
            type: 'post',
            data: {IdDocumento: IdDocumento},
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }

    function fnEliminar(IdDocumento){
        swal({
            title: "¿Estás Seguro?",
            text: "Una vez eliminado, no podrás recuperar el archivo",
            icon: "warning",
            buttons: ["Cancelar", "Eliminar"],
            dangerMode: true,
        })
            .then((willDelete) => {
            if (willDelete) {
                fnEliminarDocumento(IdDocumento);
                swal("¡El archivo fue eliminado!", {
                    icon: "success",
                });
            }
        });
    }

    function fnEliminarDocumento(Id) {
        $.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Documentos/EliminarDocumento',
            dataType: 'html',
            type: 'post',
            data: {IdDocumento: Id},
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                fnListado();
            }
        });
    }

    function fnVisualizar(IdDocumento) {
        $.ajax({
            url: '{{NeuralRutaApp}}/Administrador/Documentos/VizualizarDocumento',
            dataType: 'html',
            type: 'post',
            data: {IdDocumento: IdDocumento},
            beforeSend: function () {
                fnSpinnerTo("#content");
            },
            success: function (data) {
                $("#content").html(data);
            }
        });
    }

</script>